<!doctype html>
<html>

<head>
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Reset password</title>
  <style>
    .container {
      max-width: 500px;
      margin: 0 auto;
    }
  </style>
</head>
<body>
  <div class="container">
    <p>We reset your password here is new password: {{password}}</p>
    <p>If you did not request this email you can safely ignore it.</p>
  </div>
</body>
</html>
