<!doctype html>
<html>

<head>
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Success registration</title>
  <style>
    .container {
      max-width: 500px;
      margin: 0 auto;
    }
  </style>
</head>
<body>
  <div class="container">
    <h2>Hello, congrats with success registration!</h2>
    <div>Now you can check our <a href="{{clientUrl}}">site</a></div>
  </div>
</body>
</html>
